header {
    background: url('img/index-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0px 10px 300px 10px;
    border-bottom-left-radius: 20em;
    border-bottom-right-radius: 2em;
}
nav {
    font-weight: 800;
}
.container {
    box-shadow: 8px 5px 20px gray;
}
div {
    margin-bottom: 5px;
}

.card{
    background: rgb(218, 222, 248);
    border-radius: 1.5em;
    padding: 1.5em;
    border: solid rgb(59, 84, 248) 2px;
}
.card span {
    font-weight: bold;
}